.container_main{
    display: flex;
    background-color: #222222;
    width: 100%;

}
.block{
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.img{
height:130px;
    width:120px;
    border-radius: 10px;
}