.container_main{
    display: flex;
    background-color: #222222;
    gap:30px;
    width: 100%;

}
.block{
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 70px;
}
.foto{
    width: 100px;
    height: 130px;
}
.img{
height:160px;
    width:150px;
    border-radius: 10px;
}