.App {
    display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;


}
.outlet{
  display: flex;
  margin-top: 50px;
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 100px
}



